@import url("https://fonts.googleapis.com/css?family=Roboto:300;400;700");
* {box-sizing: border-box;}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: url("../img/404.jpg");
    background-size: auto 100%;
    background-position-x: center;
    margin: unset;
}
canvas {
    position: absolute;
    left: 0;
    top: 48%;
    width: 100%;
    height: 25vh;
    transform: translate(0, -50%);
}

.button {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    background: #000;
    color: #ffffff;
    padding: 15px 40px;
    text-transform: uppercase;
    text-decoration:none;
    text-align:center;
    background-image: linear-gradient(to left,transparent,transparent 50%, #d0bc89 50%, #d0bc89);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid #d0bc89;
}

.button:hover {
    background-position: 0 0;
    color: #000000;
    border: 1px solid #d0bc89;
}

.content {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 8%;
    left: 0;
    right: 0;
    text-align: center;
    color: #d0bc89;
    z-index: 2;
}
.content span {
    font-size: 12rem;
    line-height: 90%;
/*    text-shadow: 10px 10px 5px rgba(0,0,0,0.5); */
}

.content p {
    margin-top: unset;
    margin-bottom: 30px;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
}

@media (max-width: 576px) {
    body {background-size: auto 100%!important;}
    .button {font-size: 0.8rem;padding: 10px 30px;}

    .content span {font-size: 6rem;line-height: unset}
    .content p {font-size: 1.3rem;margin-bottom: 1em}
}

@media screen and (min-width: 1200px) {body{background-size: 100%;}}
