/**************** ROOT STYLE ****************/

@font-face {
    font-family: Geometos;
    src: url(../fonts/font-for-logo/logo.ttf);
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*********** TYPOGRAPHY STYLES ***********/

img {
    max-width: 100%;
}

hr {
    display: none;
}

p {
    font-size: 14px;
    color: #b0b0b0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    color: #d0bc89;
    outline: none;
    text-decoration: none;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: 1s;
    transition: 1s;
}

.fab {
    font-family: 'Font Awesome 5 Brands';
    font-weight: 400;
}

.d-flex {
    color: #fff;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-center span {
    font-size: 1rem;
    color: #d3d3d3;
}


/* ScrollBar Style */

body::-webkit-scrollbar {
    background-color: #d0bc89;
    width: 8px
}

body::-webkit-scrollbar-track {
    background-color: #ffffff
}

body::-webkit-scrollbar-thumb {
    background-color: #d0bc89;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0)
}

body::-webkit-scrollbar-button {
    display: none
}


/* Anketa & attach input file style */

.anketa label {
    color: #fff;
}

.anketa input {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    border: none;
    padding-top: 20px;
    border-bottom: solid 1px #d0bc89;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #ffffff 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #ffffff;
}

.file-width {
    max-width: 21.6%!important;
}

.inputfile {
    width: 0.1px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    cursor: pointer;
    /*    max-width: 50%; */
    padding: 30px;
    border: #000 solid 1px;
    background-color: #9b9b9b;
    display: inline-block;
}

.inputfile+label img {
    width: 50%;
}

.inputfile:focus+label,
.inputfile+label:hover {
    /*max-width: 50%; */
    background-color: #fff;
}

.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    pointer-events: none;
}

input:hover,
input:focus {
    outline: none !important;
}


/* Modal Windows Styles */

.modal-title {
    font-size: 16px;
    text-align: center;
    color: #000;
}

.modal-content {
    color: #000;
    text-align: center;
    margin: auto;
}

.modal-h {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.modal-body a {
    color: #000!important;
}

.mdl_block {
    font-size: 18px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.mdl_block img {
    width: 50%;
}


/* Modal "Callback & Anketa" */

.modal-body input {
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    border: none;
    padding-top: 20px;
    border-bottom: solid 1px #000000;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #000000 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #000000 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #000000;
}

.modal-body .inputfile+label {
    background-color: #fff;
}

.modal-body .inputfile:focus+label,
.modal-body .inputfile+label:hover {
    background-color: #9b9b9b;
}


/* SEPARATOR STYLE */

.s-opacity {
    max-width: 50%;
    display: table-cell;
    min-width: 200px;
    height: 1px;
}

.separator-main {
    margin: 75px auto 0px auto;
    position: relative;
    max-width: 50%
}

.separator-left {
    background-image: -moz-linear-gradient(right, #fff, rgba(255, 215, 0, 0));
    background-image: -webkit-linear-gradient(right, #fff, rgba(255, 215, 0, 0));
    background-image: -o-linear-gradient(right, #fff, rgba(255, 215, 0, 0));
    background-image: -ms-linear-gradient(right, #fff, rgba(255, 215, 0, 0));
}

.separator-line {
    background: #fff;
    width: 100%;
    height: 1px;
    display: table-cell;
}

.separator-right {
    background-image: -moz-linear-gradient(left, #fff, rgba(255, 244, 0, 0));
    background-image: -webkit-linear-gradient(left, #fff, rgba(255, 215, 0, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(255, 215, 0, 0));
    background-image: -ms-linear-gradient(left, #fff, rgba(255, 215, 0, 0));
}


/* Button style */

.boot {
    font-size: 15px;
    font-weight: 300;
    background: #000;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(to left, transparent, transparent 50%, #d0bc89 50%, #d0bc89);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    border: 1px solid #d0bc89;
}

.boot:hover {
    background-position: 0 0;
    color: #000000;
    border: 1px solid #d0bc89;
}

.boot-mob-menu {
    margin: 0px auto 10% auto;
    font-size: 16px!important;
}

.boot-center {
    margin: auto;
    text-align: center!important;
}

.btn-pos {
    margin: 10px;
    border-bottom-style: solid!important;
}


/* Mouse scroll animate */

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
}

.mousey {
    cursor: pointer;
    display: inline-block;
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
    vertical-align: middle;
    transform: scale(0.6);
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #d0bc89;
    background-color: #d0bc89;
}

.head-mouse {
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 0;
    right: 0;
}

::placeholder {
    padding-left: 7px;
}


/* Menu style */

.menu {
    font-size: 16px;
    align-items: center;
    margin-left: 42px
}

.menu a {
    text-transform: capitalize;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.menu .true:after {
    content: "";
    color: #d0bc89;
    display: block;
    border-bottom: 1px solid;
    position: absolute;
    bottom: -5px;
    width: 100%;
    left: 0;
}

.menu a:after {
    content: "";
    display: block;
    color: #d0bc89;
    width: 0;
    border-bottom: 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: .3s;
}

.menu a:hover:after {
    content: "";
    color: #d0bc89;
    display: block;
    border-bottom: 1px solid;
    position: relative;
    bottom: -5px;
    width: 100%;
    left: 0;
}

.mob-menu-bar {
    margin-right: 10px;
}

.mob-menu-icons {
    display: block;
}

.mob-menu-icons img {
    width: 1.5rem;
}

.home_menu {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.main_menu .navbar-brand {
    font-family: Geometos;
    vertical-align: middle;
    font-size: 36px;
    color: #fff;
    padding: 0rem !important;
}

.main_menu .navbar-brand-mob {
    font-family: Geometos;
    font-size: 1.32rem;
    padding: .8rem 0rem .5rem 0rem!important;
    /*    margin-top: 0.27rem; */
}

.main_menu .navbar-brand span {
    display: inline-block;
    font-size: 20.2px;
    line-height: 0.91;
}

.main_menu .navbar-brand .disc {
    font-family: Roboto;
    font-size: 8.8px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}

.navbar-brand p {
    font-size: 9px;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/icon/menu.svg);
}

.main_menu .navbar-toggler {
    font-size: 1rem;
    float: right!important;
    position: relative;
    z-index: 1;
}

.menu-icon {
    padding: unset;
}

.main_menu .navbar-toggler:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: 100% auto;
}

.main_menu .main-menu-item {
    text-align: center;
    justify-content: center;
}

.main_menu .main-menu-item ul li .nav-link {
    color: #fff;
    font-size: 14px;
    padding: 38px 23px;
    font-family: "Roboto", serif;
    line-height: 13px;
    text-transform: capitalize;
}

.main_menu .main-menu-item ul li .nav-link:hover {
    color: #fff;
}

.nav-link {
    display: block;
    padding: .2rem!important;
}

.nav-item {
    padding: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none;
}

.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: #000000;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
    top: 0;
    margin: auto!important;
    opacity: 1;
}

.menu_fixed .main-menu-item ul li .nav-link {
    color: #ffffff;
}

.menu_right_block {
    color: #fff;
    display: flex;
    position: relative;
    z-index: 1;
}

.menu_right_block .boot {
    padding: 10px 30px;
    display: inline-table;
    margin: auto auto auto 20px;
}

.menu_right_block img {
    margin-bottom: 2px;
    width: 16px;
}

.menu_right_item {
    font-size: 13px;
    flex-direction: column;
    text-align: center;
    margin: auto;
    line-height: 1.2;
}

.menu_right_item .order-callback {
    font-size: 11px;
    font-weight: 300;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #d0bc89;
    margin-left: 17px;
}

.menu_right_item .info-contacts {
    font-size: 15px;
    font-weight: 300;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #d0bc89 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff
}


/* Hide menu elements after scroll */

.scroll {
    transition: .6s;
    background-color: #000000;
}

.scroll .hidden {
    display: none;
}

.scroll .menu {
    margin-left: -110px;
}


/* BLOCKS STYLE */

.feature_part {
    padding-top: 0px;
}

.section_tittle {
    margin-top: 75px;
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

.section_tittle p {
    color: #f3f3f3;
    font-weight: 300;
    margin-bottom: 26px;
    font-size: 16px;
}

.section-subtittle {
    font-size: 17px;
    font-weight: 300;
}

.section-subtittle p {
    line-height: unset;
}

.section-subtittle a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #d0bc89;
}

.section-subtittle .boot {
    border-bottom-style: solid!important;
}


/**************** banner part css start ****************/

.banner_part {
    display: block;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to top, black 0%, transparent 70%), url(../img/head_why.jpg)!important;
    background-size: 100% auto;
    background-position: center;
}

.head-text-ads {
    position: absolute;
    top: 25%;
    left: 7.5%;
    max-width: 460px;
    padding: 4px 0px 22px 20px;
    border-left: 4px solid #d0bc89;
}

.head-text-ads p {
    color: #e5e5e5;
    font-size: 18px;
    font-weight: 300;
    margin: 20px auto;
    padding-right: 40px;
}

.head-text-ads span {
    font-size: 40px;
    color: #fff!important;
    font-weight: 400;
    line-height: normal;
}

.head-text-ads .boot {
    padding: 10px 40px;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-sm-12 {
    flex: 0 0 100%;
}


/* REVIEWS STYLE */

#comment {
    background-color: var(--black);
    color: var(--white);
}

#more1,
#more2,
#more3,
#more4,
#more5 {
    display: none;
}

#myBtn1,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5 {
    color: #d0bc89;
    cursor: pointer
}

.comment_carousel {
    padding-top: 20px;
}

.comment_carousel img {
    margin: 5px;
    pointer-events: none!important;
    width: 50px;
    height: 50px;
}

.comment_carousel .nav-link.active img {
    transform: scale(1.2)
}

.comment_frame {
    display: inline-block;
    position: relative;
    right: 0;
    transform: scale(0.6);
}

.comment_frame img {
    pointer-events: none!important;
    max-width: 100%
}

.comment_person {
    position: absolute;
    width: 141px;
    border-radius: 70px;
    top: 7px;
    left: 10px;
    z-index: 100;
}

.comment_icon {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 200;
}

.comment_name {
    font-size: 20px;
    margin-top: -40px;
    color: #fff;
}

.comment_name p {
    font-size: 11px;
    color: #7c7c7c;
    margin-bottom: 0px;
}

.comment_name span {
    color: #fff;
}

.comment-text p {
    font-size: 16px;
}


/* CONTENT STYLE */

.why-box {
    position: relative;
    margin-bottom: 35px;
}

.why-header1 {
    font-size: 65px;
    line-height: 63px;
    float: left;
    padding-right: 10px;
}

.why-header2 {
    font-size: 34px;
    line-height: initial;
    float: left;
    padding-right: 10px;
}

.why-header3 {
    font-size: 24px;
    line-height: initial;
    padding-right: 10px;
}

.why-middle {
    color: #d0bc89;
    font-size: 24px;
    font-family: Geometos;
    transform: rotate(90deg);
    white-space: nowrap;
    margin-top: 100px;
    letter-spacing: 5px;
}

.why-box-hr {
    display: none;
}

.about-us-box span {
    font-size: 25px;
    margin-bottom: 10px;
}


/* FOOTER STYLE */

footer {
    width: 100%;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    padding: 0 5%;
}

.footer p {
    font-size: 12px;
}

.footer img {
    vertical-align: bottom;
}

.footer span {
    font-family: Geometos;
    font-size: 26px;
}

.footer_logo {
    vertical-align: middle;
    margin: auto;
}

.footer_logo img {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}


/* FOOTER SOCIAL LINKS STYLE */

.social_link li {
    padding: 1%;
}

.social ul {
    background-color: #131217 !important;
}

.pol {
    font-size: 10px;
}


/* Right bar icons style */

.social-icons {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
}

.btn-social {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-color: #fff;
    border-radius: 50px;
}

.bnt-social::after {
    display: none;
}

.btn-social-main {
    vertical-align: middle;
    font-size: 1.4rem
}

.social-icons .navbar-nav li {
    position: absolute;
    top: 0;
    z-index: -1;
    transition: .2s all;
}

.social-icons .navbar-nav.show li:nth-child(1) {
    top: -70px
}

.social-icons .navbar-nav.show li:nth-child(2) {
    top: -140px
}

.social-icons .navbar-nav.show li:nth-child(3) {
    top: -210px;
}

.social-icons .navbar-nav.show li:nth-child(4) {
    top: -280px;
}

.social-icons .navbar-nav.show li:nth-child(5) {
    top: -350px;
}

.social-icons .btn-primary {
    background: #000;
}

.btn-social:hover {
    background: #d0bc89;
    border-color: #d0bc89;
    color: #fff;
}

.btn-social-pos {
    vertical-align: middle;
    max-width: 80%;
    margin-top: 10px;
}


/* Go to top style */

.back-to-top {
    font-size: 1.4rem;
    background: #000;
    width: 60px;
    height: 60px;
    border-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 100px;
    display: none;
    z-index: 999;
}

.back-to-top:hover {
    background: #d0bc89;
    border-color: #d0bc89;
    color: #fff;
}


/****************************************************************
******************     ADEPT DESIGN STYLE     *******************
****************************************************************/


/* For iPhone 5/SE & Galaxy S5 */

@media only screen and (min-width: 320px) and (max-width: 374px) {
    body {
        font-size: 14px
    }
    p {
        font-size: 0.73rem
    }
    .boot {
        font-size: 10px;
    }
    .main_menu .navbar-brand {
        margin-left: -80px!important;
        transform: scale(0.5)!important;
    }
    .navbar {
        padding: inherit;
    }
    .main_menu .navbar-toggler {
        font-size: 0.85rem;
    }
    .mob-menu-icons img {
        width: 20px
    }
    .section_tittle {
        margin-top: 10px;
        font-size: 30px;
    }
    .section_tittle p {
        margin-bottom: 20px!important;
    }
    .section-subtittle {
        font-size: 15px;
    }
    .comment_carousel img {
        width: 40px;
        height: 40px;
    }
    .social_link li {
        padding: 4%!important;
    }
    .fa-2x {
        font-size: 1.5rem!important;
    }
    .footer span {
        font-size: 22px
    }
    .fullscreen .modal-body ul {
        margin-top: 0%!important;
    }
    .boot-mob-menu {
        margin: auto;
        font-size: 15px!important;
    }
    .contact-number a {
        margin: 6px 5px 0px 5px!important;
        font-size: 16px!important;
    }
    .modal-body {
        flex: none;
    }
     ::placeholder {
        font-size: .9rem
    }
}


/* For iPhone 6/7/8/X */

@media only screen and (min-width: 375px) and (max-width: 412px) {
    .section_tittle {
        font-size: 2.1rem
    }
    .section-subtittle {
        font-size: 14px!important;
    }
    .fullscreen .modal-body ul {
        margin-top: 20%!important;
    }
}


/* For iPhone 6/7/8 Plus */

@media only screen and (min-width: 413px) and (max-width: 415px) {
    .navbar {
        padding: unset
    }
    .fullscreen .modal-body ul {
        margin-top: 27%!important;
    }
    .section_tittle {
        font-size: 2.1rem
    }
    .section_tittle p {
        margin-bottom: 25px!important;
    }
    .section-subtittle {
        font-size: 16px;
    }
    .boot {
        font-size: 12px;
    }
    .footer p {
        font-size: 12px!important;
    }
}


/* iPhone X style */

@media only screen and (min-height: 810px) and (max-height: 814px) {
    .fullscreen .modal-body ul {
        margin-top: 45%!important;
    }
}


/* Pixel 2 XL style */

@media only screen and (min-height: 820px) and (max-height: 825px) {
    .fullscreen .modal-body ul {
        margin-top: 40%!important;
    }
}


/* iPad STYLE */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main_menu .navbar-brand {
        margin-left: -50px;
        transform: scale(0.7);
    }
    .main_menu .navbar-toggler {
        font-size: 1.4rem;
    }
    .navbar-dark .navbar-toggler {
        margin-right: 10px;
    }
    .mob-menu-icons img {
        width: 28px;
        margin-top: 3px;
        margin-right: 10px;
    }
    .section_tittle {
        font-size: 50px;
        margin-bottom: 50px;
    }
    .section_tittle p {
        margin-bottom: 10px;
    }
    .section-subtittle {
        font-size: 15px;
    }
    .social_link li {
        padding: 3%;
    }
    .footer p {
        font-size: 10px;
    }
    .why-header1,
    .why-header2 {
        float: unset
    }
    .why-box p {
        font-size: 0.95rem
    }
}


/* iPad PRO STYLE */

@media only screen and (min-width: 991px) and (max-width: 1024px) {
    .mob-menu-icons img {
        width: 32px;
        margin-top: 3px;
        margin-right: 12px;
    }
    .main_menu .navbar-toggler {
        font-size: 1.5rem;
    }
    .main_menu .navbar-brand {
        margin-left: -40px;
        margin-top: 5px;
    }
    .separator-main {
        margin-top: 75px;
    }
}

@media (max-width: 576px) {
    hr {
        max-width: 20%;
        display: block;
        border-top: 3px solid #d0bc89;
        margin: 50px auto 0px auto;
    }
    p {
        margin-bottom: unset
    }
    .main_menu .navbar-brand {
        transform: scale(0.8);
        margin-left: -40px;
    }
    .navbar-brand p {
        display: none
    }
    .section_tittle {
        margin-top: unset;
    }
    .section_tittle p {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .section-subtittle a {
        color: #fff;
    }
    .separator-main {
        display: none;
    }
    .footer p {
        font-size: 10px;
    }
    .comment_name p {
        margin-bottom: 5px;
    }
    footer {
        margin-top: 50px;
    }
    footer p {
        margin-bottom: 10px;
    }
    .banner_part.ads {
        background-image: linear-gradient(to top, black 0%, transparent 70%);
        background-size: auto 100%;
    }
    .head-text-ads {
        text-align: left;
        top: unset!important;
        bottom: 0.7rem!important;
        left: 20px!important;
        right: 20px!important;
        max-width: 100%!important;
        padding: 0px 0px 20px 10px;
        border-left: 2px solid #d0bc89;
    }
    .head-text-ads span {
        font-size: 1.6rem
    }
    .head-text-ads p {
        font-size: 0.95rem;
        padding-right: unset;
        margin: 10px auto;
    }
    .why-middle {
        display: none
    }
    .why-box p {
        font-size: 0.81rem
    }
    .why-header1,
    .why-header2,
    .why-header3 {
        padding-right: unset;
        float: unset;
        line-height: unset;
        font-size: 1.31rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main_menu .navbar {
        padding: 15px 0;
    }
    .main_menu .navbar-brand {
        max-width: 130px;
    }
    .section_tittle {
        margin-bottom: 50px;
    }
    .section_tittle p {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    .navbar-toggle {
        display: none
    }
    .main_menu .navbar {
        padding: 10px;
    }
    .main_menu .navbar-brand {
        margin-left: -250px;
    }
    .menu_right_block {
        margin-right: -270px;
    }
    footer {
        margin-top: 100px;
    }
    .comment_frame {
        margin-top: -22px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main_menu .main-menu-item {
        padding-left: 25px;
    }
    .main_menu .main-menu-item ul li .nav-link {
        padding: 35px 16px;
    }
    .comment_icon {
        max-width: 40%!important;
        top: 80px;
    }
    .comment_person {
        width: auto;
        max-width: 85%!important;
    }
    .comment_content p {
        font-size: 0.87rem;
    }
    .section_tittle {
        margin-bottom: 50px;
    }
    .section_tittle p {
        margin-bottom: 10px;
    }
    .separator-main {
        margin: 50px auto 0px auto;
    }
}

@media only screen and (max-width: 414px) {
    .section_tittle p {
        font-size: 0.86rem;
    }
}

@media only screen and (max-width: 1200px) {
    .menu {
        margin-left: unset;
    }
    .mousey {
        display: none
    }
    .main_menu .navbar-brand {
        transform: scale(0.7)
    }
    .main_menu .main-menu-item {
        padding-left: unset
    }
    .menu_right_block {
        display: none;
    }
    .fullscreen .modal-dialog {
        margin: 0 0 0 0;
        max-width: 100%;
        width: 100%;
        height: 100%;
        min-height: 100%;
        padding: 0;
        color: #ffffff;
    }
    .fullscreen .modal-content {
        height: 100%;
        min-height: 100%;
        border-radius: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.9);
        overflow: auto;
    }
    .fullscreen .modal-body ul {
        margin-top: 10%;
    }
    .fullscreen .modal-body li {
        padding: 10px 0 10px 0;
    }
    .fullscreen .modal-body a {
        color: #fff!important;
        font-size: 300%;
    }
    .fullscreen .menu-close {
        float: right;
        width: 60px;
        margin: auto;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        padding: unset
    }
    .navbar-collapse {
        top: 50px!important;
    }
    .conditions-head {
        margin-top: 200px!important;
    }
    .comment_carousel img {
        margin: unset
    }
    .social_link li {
        padding: 5%;
    }
    .mob-menu-icons {
        margin-right: 0px;
    }
    .feature_part {
        padding-top: 50px!important;
    }
    .fullscreen .modal-body ul {
        margin-top: 20%;
    }
    .fullscreen .modal-body li {
        padding: 4px 0 4px 0;
    }
    .fullscreen .modal-body a {
        color: #fff!important;
        font-size: 180%;
        text-transform: uppercase;
        font-weight: 300;
    }
    .fullscreen .menu-close {
        float: right;
        width: 50px;
        margin: auto;
    }
    .boot {
        padding: 10px 30px;
        font-size: 16px;
    }
    .btn-pos {
        margin-top: 10px
    }
}

@media (max-width: 768px) {
    .feature_part {
        padding-top: 70px;
    }
    .why-box-hr {
        display: block;
        margin: 5px 0px 10px 0px;
        background-color: #d0bc89;
        width: 30%;
        height: 2px;
    }
}

@media (max-width: 991px) {
    .banner_part {
        height: calc(100vh - 60px);
    }
    .social-icons {
        display: unset
    }
    .main_menu {
        position: fixed
    }
    .main_menu .navbar-brand {
        display: none
    }
    .main_menu .navbar-brand-mob {
        display: block
    }
    .navbar-collapse ul li .nav-link {
        color: #fff !important;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
        padding: 0;
    }
    .navbar-dark .navbar-toggler {
        border: none;
    }
    .main_menu .main-menu-item {
        text-align: left !important;
    }
    .main_menu .main-menu-item .nav-item {
        padding: 5px 15px !important;
        margin: auto;
    }
    .main_menu .main-menu-item .nav-item a {
        padding: 5px 15px !important;
    }
    .navbar-nav {
        align-items: start !important;
    }
    .navbar-collapse {
        z-index: 9999 !important;
        position: fixed;
        left: 0;
        top: 65px;
        width: 100%;
        background-color: #000;
        text-align: center !important;
        box-shadow: 0px 11px 9px -5px rgba(0, 0, 0, 0.2);
    }
    .comment_name {
        margin-top: unset
    }
    .comment_name span {
        color: #fff;
        font-size: 101%;
        font-weight: 300;
    }
    .boot:hover {
        background: #000;
        color: #ffffff;
        background-position: 100% 0;
        background-size: 200% 100%;
    }
}

@media (max-width: 1024px) {
    .menu_right_block,
    .mousey,
    .back-to-top {
        display: none !important;
    }
    .comment_frame {
        margin-top: -8px;
    }
    .inputfile+label {
        background-color: #fff;
    }
    .inputfile:focus+label,
    .inputfile+label:hover {
        background-color: #9b9b9b;
    }
}

@media only screen and (min-width: 1180px) {
    .container {
        max-width: 1170px;
    }
}

@media only screen and (max-width: 995px) {
    .comment_person {
        width: auto;
        max-width: 90%!important;
    }
    .comment_icon {
        top: 130px;
        left: 10px;
    }
}